.wrapper_bigPlanet {
  width: 100vw;
  height: 100vh;
}
.flicker {
  overflow: hidden;
}
.content_wrapper {
  position: relative;
  top: -55px;
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

#bigPlanet {
  width: 86vh;
  height: 86vh;
  border-radius: 50%;
  margin-right: -100px;
}
.bigTitle {
  background: linear-gradient(
    180deg,
    #dadada 50.44%,
    rgba(218, 218, 218, 0) 66.38%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Russo One;
  font-size: 96px;
  font-weight: 400;
  line-height: 83px;
  letter-spacing: 0em;
  width: 510px;
  display: flex;
  align-items: center;
  --animate-delay: 0.6s;
}

.arrow_down {
  position: absolute;
  top: 83vh;
  width: 50px;
  height: 30.5px;
  left: 47%;
  cursor: pointer;
  --animate-delay: 0.7s;
}
.animate__shakeY {
  --animate-delay: 0s;
}
.planetMoving-enter-done {
  position: relative;
  top: -450px;
  transition: all 10s;
  animation: 5s ease-in-out planetUpMoving;
}

.titleMoving-enter-done {
  position: relative;
  left: -1000px;
  animation: 20s ease-in-out titleSideMoving;
  --animate-delay: 0s;
  --animate-duration: 5s;
}

#rocket {
  left: -1000px;
  position: absolute;
}
#rocketTextWrapper {
  right: -1000px;
  position: absolute;
  z-index: 5;
}
.visibilityRocket {
  display: none;
}
.rocketImage-enter-done {
  position: absolute;
  width: 35vw;
  left: 14vw;
  top: 12vh;
  z-index: 5;
  display: block;
  animation: 7s forwards rocketAppear;
}

.rocketTextWrapper {
  color: #ffffff;
  position: absolute;
  top: 10vw;
  right: 14vw;
  width: 34vw;
  font-family: Russo One;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  position: absolute;
}
.rocketTextTitle {
  font-family: Russo One;
  font-size: 48px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 3vh;
}

.rocketText-enter-done {
  /* position: absolute; */
  right: 14vw;
  top: 20vh;
  display: block;
  animation: 7s forwards rocketTextAppear;
}

/* Анімація для сторінки з ракетою */

@keyframes planetUpMoving {
  from {
    top: 0;
  }
  to {
    top: -450px;
  }
}

@keyframes titleSideMoving {
  from {
    left: 0;
  }
  to {
    left: -1000px;
  }
}

@keyframes rocketAppear {
  from {
    left: -1000px;
  }
  to {
    left: 14vw;
  }
}
@keyframes rocketTextAppear {
  from {
    right: -1000px;
  }
  to {
    right: 14vw;
  }
}
@media (min-width: 1450px) {
  .planetMoving-enter-done {
    top: -75vh;
    right: -15vw;
  }
}
@media (max-width: 1360px) {
  #bigPlanet {
    width: 50vw;
    height: 50vw;
    /* margin-top: -10vh; */
  }
  .content_wrapper {
    flex-direction: column;
    margin: 0 auto;
    width: 45vw;
    position: unset;
    justify-content: center;
  }

  .bigTitle {
    font-size: 4.5rem;
    text-align: center;
    line-height: 5rem;
    width: 50vw;
    height: 20vh;
    align-items: start;
    align-self: center;
  }
  .arrow_down {
    position: unset;
    margin: 5vh 0 5vh 3.5vw;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
  .planetMoving-enter-done {
    position: absolute;
    top: -30vh;
    right: -0vw;
    transition: all 10s;
    animation: 5s ease-in-out planetUpMoving;
  }
  .rocketImage-enter-done {
    top: 22vh;
  }
  .rocketText-enter-done {
    top: 25vh;
  }
  @keyframes planetUpMoving {
    from {
      top: 0;
    }
    to {
      top: -29.5vw;
    }
  }
}
@media (max-width: 1200px) {
  .planetMoving-enter-done {
    position: absolute;
    top: -29vh;
    right: -0vw;
    transition: all 10s;
    animation: 5s ease-in-out planetUpMoving;
  }
  .rocketImage-enter-done {
    left: 55vw;
  }
  .rocketText-enter-done {
    top: 60vh;
    right: 35vw;
    width: 40vw;
  }
  .rocketTextTitle {
    text-align: center;
  }

  @keyframes rocketAppear {
    from {
      left: -1000px;
    }
    to {
      left: 32.5vw;
    }
  }
  @keyframes rocketTextAppear {
    from {
      right: -1000px;
    }
    to {
      right: 30vw;
    }
  }
  @keyframes planetUpMoving {
    from {
      top: 0;
    }
    to {
      top: -30vw;
    }
  }
}
@media (max-width: 1000px) {
  .planetMoving-enter-done {
    top: -16.5vh;
  }
  @keyframes planetUpMoving {
    from {
      top: 0;
    }
    to {
      top: -20vw;
    }
  }
}

@media (max-width: 800px) {
  .bigTitle {
    font-size: 4rem;
    text-align: center;
    line-height: 4rem;
    width: 50vw;
    height: 25vh;
  }
  .arrow_down {
    margin: 10vh 0 5vh 3.5vw;
  }
  .menu_wrapper ul {
    flex-wrap: wrap;
    font-size: 0.85rem;
  }
  .rocketText-enter-done {
    top: 50vh;
  }
  .planetMoving-enter-done {
    top: -8vh;
  }
  @keyframes planetUpMoving {
    from {
      top: 0;
    }
    to {
      top: -12vw;
    }
  }
}

@media (max-width: 600px) {
  .bigTitle {
    font-size: 2rem;
  }
  .menu_wrapper ul {
    font-size: 0.7rem;
  }
  .rocketText-enter-done {
    top: 42vh;
    font-size: 0.6rem;
  }
  .planetMoving-enter-done {
    top: -5vh;
  }
  @keyframes planetUpMoving {
    from {
      top: 0;
    }
    to {
      top: -10vw;
    }
  }
}
@media (max-width: 500px) {
  .planetMoving-enter-done {
    top: -3vh;
  }
  @keyframes planetUpMoving {
    from {
      top: 0;
    }
    to {
      top: -7vw;
    }
  }
}
