* {
  margin: 0;
  padding: 0;
}
.stars,
.flicker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.stars {
  background: #000
    url(./images/apps-47636-13819498107583324-fb06b53a-4974-4acb-85e6-f6f363f85ab6-edec48d0-ec35-4a1f-8bf5-c455987b4a.png)
    repeat top center;
  z-index: 0;
  /* display: none; */
}
.flicker {
  background-image: url(./images/twinkling.png);
  animation: 5s flickering infinite;
  animation-timing-function: linear;
}
.planet {
  border-radius: 50%;
  position: absolute;
  top: 25vh;
  left: calc(50%);
  cursor: pointer;
}

.moving-enter {
  animation: none;
  opacity: 0;
}
.moving-enter-active {
  transition: opacity 7s;
  opacity: 0.5;
}

.moving-enter-done {
  animation: 60s linear infinite rotatePlanet;
  opacity: 1;
  transition: opacity 7s;
}

.moving-exit {
  opacity: 0;
  animation: none;
}
.moving-exit-active {
  transition: opacity 7s;
  opacity: 0.5;
  animation: none;
}

.moving-exit-done {
  animation: 60s linear infinite rotateContrary;
  opacity: 1;
  transition: opacity 7s;
}
/* Анімації мерехтливого неба та планети,що обертається */
@keyframes flickering {
  from {
    backrgound-position: 0;
  }
  to {
    background-position: -100px 100px;
  }
}

@keyframes rotatePlanet {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateContrary {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (max-width:600px) {
  .planet {  
    left: 40%;
    width: 50vw;
  }
}
@media (max-width:500px) {
  .planet {  
    left: 30%;
  }
}