@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.menu_wrapper li {
  --animate-delay: 0.5s;
  z-index: 5;
}

.menu_wrapper {
  color: white;
  font-family: "Russo One", sans-serif;
}
.menu_wrapper ul {
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 7vh auto;
  list-style: none;
  cursor: pointer;
}
